boto3>=1.20.0  # For AWS SDK (SES, SNS, SQS, etc.)

# Other potential dependencies:
# aws-lambda-powertools
# twilio # If using Twilio for SMS and not SNS
# sendgrid # If using SendGrid for email and not SES
